body {
    background: url(analytic2.jpg);
}

h1 {
            margin-left: 630px;
        }

.news-card {
            border: 3px solid #f70808;
            padding: 10px;
            margin-bottom: 10px;
            align-items: center;
            justify-self: center;
            width: 70% ;
            align-items: center;
            margin-left: 200px;
            background-color: rgb(100, 166, 179);
        }
.news-card:hover {
    background-color: gray;
}
.news-title {
            font-weight: bold;
            font-size: 40px;
            /* margin-left: 200px; */
            margin-top: 20px;
            margin-bottom: 20px;
            color: red;
            text-align: center;
        }
.news-description {
            color: white;
            font-size: 30px;
            text-align: center;
            font-style: italic;
        }
.news-image {
            max-width: 100%;
            height: auto;
            margin-left: 430px;
            border-radius: 5%;
            margin-top: 30px;
            transition: filter 1s ease-in-out;

        }
.news-image:hover{
    filter: brightness(15%);
}

.news-content {
            text-align: center;
            font-size: 25px;
            color: whitesmoke;
            font-style: oblique;
        }
        .news-author {
            text-align: right;
        }
.news-published {
            text-align: right;
        }

.read-more{
          
            width: 100%;
            margin-left: 500px;
            font-size: 40px;
            text-decoration: underline;
            
        }
.read-more:hover {
    color: white;
    text-decoration: none;
}