{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "fetchapi/style.css" %}">
    <title>Document</title>
</head>
<body>
    <h1 style="color: red; font-size: 50px;">API LATEST NEWS</h1>
    <div>
        <img src="{% static 'fetchapi/bright_news.png' %}" alt="" height="100">
    </div>
    {% for news_item in database_fetched_news %}
    <div class="news-card">
        <div class="news-title">{{ news_item.title }}</div>
        <div class="news-description">{{ news_item.description }}</div>
        {% if news_item.image %}
        <img class="news-image" src="{{ news_item.image }}" alt="News Image"  width="350" height="550">
        {% endif %}
        <p class="news-content">{{ news_item.content }}<p/> 
            <a href="{{ news_item.url }}" class="read-more" target="_blank">Read more</a> <br>
        <div class="news-author">Author: {{ news_item.author }}</div>
        <div class="news-published">Published At: {{ news_item.published }}</div>
    </div>
    {% endfor %}
</body>
</html>